<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973815533247-880ig42pk5ae0hsgui14a3oca7npst9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973815533247-880ig42pk5ae0hsgui14a3oca7npst9v</string>
	<key>API_KEY</key>
	<string>AIzaSyDSUkrinKAG4RXvOtCfWXQRlUxHm1J8rQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>973815533247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNewsApp</string>
	<key>PROJECT_ID</key>
	<string>kabar-lwg</string>
	<key>STORAGE_BUCKET</key>
	<string>kabar-lwg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973815533247:ios:f23a3239f5d180c2bac00a</string>
</dict>
</plist>